.spinner {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px dashed var(--color-second);
  animation: circleAnimate 1.5s infinite ease-out;
}
@keyframes circleAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
